* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

  body {
    font-family: 'Raleway', sans-serif;
    background: #7573f0;
    color: #fff;
    line-height: 1.8;
        }

  a {
    text-decoration: none;
  }

  #container {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    
  }

  .form-wrap {
    background: #fff;
    padding: 20px 25px;
    color: #333;
  }

  .form-wrap h1{
   text-align: center;
  }

  .form-wrap .form-group {
  margin-top: 15px;
  }

  .form-wrap .form-group label {
  display: block;
  color: #5a5959;
  font-size: larger;
  }

  .form-wrap .form-group input {
 width: 100%;
 padding: 10px;
 border: #ddd 1px solid;
 border-radius: 5px;
  }

  .form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #49c1a2;
    color: #fff;
    cursor: pointer;
  }

  .form-wrap button:hover {
   background: #37a08e;
  }

  .form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
  }

  footer {
   text-align: center;
   margin-top: 10px;
  }

  footer a {
    color: #2ddaae;
  }